{% include 'base.html.twig' %}

{% block body %}
<table class="table">
    <thead>
    <tr>
        <td>FileName</td>
        <td>FileSize</td>
        <td>Download</td>
    </tr>
    </thead>
    <tbody>
    {% for file in files %}
    <tr>
        <td>{{ file.getName() }}</td>
        <td>{{ file.getFileSize() }}</td>
        <td> <a href="{{ asset('uploads/'~file.getName())}}" class="btn btn-primary btn-lg" download>Download</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
    <script>
        navigator.geolocation.getCurrentPosition(function(position) {
            faireQqc(position.coords.latitude, position.coords.longitude);
        });
    </script>
{% endblock %}