{% extends 'base.html.twig' %}

{% block title %}New Publication{% endblock %}

{% block body %}
    <h1>create new Publication</h1>

    {{ include('publication/_form.html.twig') }}

    <a href="">back to list</a>
{% endblock %}
