.mymessage{

    border: #ffa500 ;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    margin-left:70%;
    margin-top: 5px;
    background-color:white;
}
.othermessage{
    border: #b42f52 ;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    margin-right:70%;
    margin-top: 5px;
    background-color:white;
}
