{% extends "base.html.twig" %}
{% block body %}

<script type="text/css">
    #sidebar{
        position:fixed;
        padding-left: 0%;
        margin-left: 80%;
        padding-right: 0%;
        top: 0;
        bottom: 0;
    }
</script>
    <div class="w3-sidebar w3-light-grey w3-bar-block" style="width:20%">
<nav id="sidebar" >
    <ul class="list-group">
        {% for contact in contacts %}
            <li class="list-group-item">
                <a href="{{ path("conversation" , {'contact': contact.idcontact.id }) }}" class="btn btn-warning">{{ contact.idContact }}</a>

            </li>
        {% endfor %}
    </ul>
</nav>
<div>

</div>
    </div>
{% endblock %}
