{% include "base.html.twig" %}

{% block body %}
    {% for message in messages %}
        <div class="">
            {{ message.sender }} to {{ message.receiver }}
            {{ message.content }}
        </div>
    {% endfor %}

{% endblock %}