{% extends 'base.html.twig' %}

{% block title %}PublicMessage index{% endblock %}

{% block body %}

    <h1>Messages</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Content</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for public_mess in messages_recus %}
            <tr>
                <td>{{ public_mess.id }}</td>
                <td>{{ public_mess.content }}</td>
                <td>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('public_message_new') }}">Create new</a>
{% endblock %}
