{% extends 'base.html.twig' %}

{% block title %}Acccueil - climaClass{% endblock %}

{% block body %}
    <section class="home">
        <h3 class="text-center homeTitle">
            Bienvenue sur le site climaClass
        </h3>
    </section>
{% endblock %}
