{% extends 'base.html.twig' %}

{% block title %}Hello MesureController!{% endblock %}

{% block body %}
<section>
<h3 class="titleH3">Mesures</h3>
<div style="border:2px solid red;width:800px; font-size:14px; text-align: justify;">

<!--<table>
    <tr>
        <td>
            This example shows setting a title for the left and right axis. Optionally the example allows the user
            to show icons and labels on the left and right axis.
        </td>
        <td>
            <table>
                <tr>
                    <td><input type="button" onclick="showIcons(true)" value="Show Icons" /></td>
                    <td><input type="button" onclick="showIcons(false)" value="Hide Icons" /></td>
                </tr>
                <tr>
                    <td><input type="button" onclick="showTitle('left', true)" value="Show Left Title" /></td>
                    <td><input type="button" onclick="showTitle('left', false)" value="Hide Left Title" /></td>
                </tr>
                <tr>
                    <td><input type="button" onclick="showTitle('right', true)" value="Show Right Title" /></td>
                    <td><input type="button" onclick="showTitle('right', false)" value="Hide Right Title" /></td>
                </tr>
                <tr>
                    <td><input type="button" onclick="styleTitle('left')" value="Color Left Title" /></td>
                    <td><input type="button" onclick="styleTitle('right')" value="Color Right Title" /></td>
                </tr>
            </table>
        </td>
    </tr>
</table>-->
</div>
<br />
<div id="temperature"></div>
<div id="windSpeed"></div>
<div id="rainLevel"></div>

<script type="text/javascript">
    // create a dataSet with groups
    var names = ['SquareShaded', 'Bargraph', 'Blank', 'CircleShaded'];
    var groups = new vis.DataSet();

    groups.add({
        id: 2,
        content: names[2],
        options: {
            yAxisOrientation: 'right', // right, left
            drawPoints: false
        }
    });


    var container = document.getElementById('visualization');
    var items = [
        {x: '2014-06-22', y: 600, group: 2},
        {x: '2014-06-23', y: 100, group: 2},
        {x: '2014-06-24', y: 250, group: 2},
        {x: '2014-06-25', y: 300, group: 2},
    ];

    var dataset = new vis.DataSet(items);
    var options = {
        dataAxis: {
            showMinorLabels: false,
            right: {
                title: {
                    text: 'Title (right axis)'
                }
            }
        },
        legend: {left:{position:"bottom-left"}},
        start: '2014-06-09',
        end: '2014-07-03'
    };
    var graph2d = new vis.Graph2d(container, items, groups, options);

    function showIcons(show) {
        graph2d.setOptions({dataAxis: {icons: show}});
    }

    function showTitle(axis, show) {
        var title;
        if(show == true) {
            title = {text: "Title (" + axis + " axis)"};
        }
        else {
            title = {text: undefined};
        }

        if(axis == 'left') {
            graph2d.setOptions({dataAxis: {left: {title: title}}});
        }
        else {
            graph2d.setOptions({dataAxis: {right: {title: title}}});
        }
    }

    var colors=['red','green','blue','black','yellow','purple','pink'];
    function styleTitle(axis) {
        var title;
        title = {style: "color: " + colors[Math.floor(Math.random() * colors.length) + 1]};

        if(axis == 'left') {
            graph2d.setOptions({dataAxis: {left: {title: title}}});
        }
        else {
            graph2d.setOptions({dataAxis: {right: {title: title}}});
        }
    }

</script>

</section>
{% endblock %}
