<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}ClimaClass{% endblock %}</title>
        {% block stylesheets %}
        <link href="css/bootstrap.css" rel="stylesheet" />
        <link href="css/pe-icon-7-stroke.css" rel="stylesheet" />
        <link href="css/ct-navbar.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
            <style>
                body{
                   }
                .titleH3{
                    text-align:center !important;
                    margin-top:90px !important;
                    font-weight: 700;
                    text-transform:uppercase !important;
                }
                /* Style the navigation bar */
                .navbar {
                width: 100%;
                background-color: green;
                overflow: auto;
                }

                /* Navbar links */
                .navbar a {
                float: left;
                text-align: center;
                padding: 12px;
                color: white;
                text-decoration: none;
                font-size: 17px;
                }

                /* Navbar links on mouse-over */
                .navbar a:hover {
                background-color: #000;
                }

                /* Current/active navbar link */
                .active {
                border: 4px solid #4CAF52;
                border-radius: 10px;
                }

                /* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
                @media screen and (max-width: 500px) {
                .navbar a {
                    float: none;
                    display: block;
                }
                }
                .navnav{
                    height: 76px !important;
                    color: green !important;
                }
                .navnav ul li a{
                    color: green !important;
                    font-size: 19px !important;
                    font-weight: bold !important;
                    text-align: right !important;
                }
                .fa-home{
                    font-size:40px !important;
                }
                a{
                    color:black;
                }
                .titleclima{
                    color:black !important;
                }
                .home{
                    padding:100px;
                }
                .connexion{
                    padding:100px;
                    margin-left:auto !important;
                    margin-right:auto !important;
                }
                .formconnect{
                    width: 32%;
                    margin-left: auto;
                    margin-right: auto;
                    border: 5px solid green;
                    border-radius: 10px;
                    -webkit-box-shadow: 11px 13px 5px 0px rgba(209,240,225,0.77);
                    -moz-box-shadow: 11px 13px 5px 0px rgba(255,255,255,1);
                    box-shadow: 11px 13px 5px 0px rgba(255,255,255,1);
                    padding: 59px;
                }
                .btnsubmit{
                    width: 100% !important;
                }
                .homeTitle{
                    padding-top: 50px !important;
                    padding-bottom: 50px !important;
                    margin-top:auto !important;
                    margin-bottom:auto !important;
                    text-align:center !important;
                }
                .btnconnect{
                    list-style:none;
                }
                .barrenav{
                    background: white !important;
                    color: green !important;
                }
                .navulbarre{
                    margin-left: auto;
                    /* padding: 0px; */
                    margin-right: 64px !important;
                }
                .btnclima {
                    box-shadow: 0px 6px 0px 0px #3dc21b;
                    background:linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
                    background-color:#44c767;
                    border-radius:28px;
                    border:3px solid #18ab29;
                    display:inline-block;
                    cursor:pointer;
                    color:#ffffff;
                    font-family:Arial;
                    font-size:15px;
                    padding:12px 70px;
                    text-decoration:none;
                    text-shadow:0px 1px 0px #2f6627;
                }
                .btnclima:hover {
                    background:linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
                    background-color:#5cbf2a;
                }
                .btnclima:active {
                    position:relative;
                    top:1px;
                }
                .releve_fond{
                    background-color: red !important;
                }
            </style>
        {% endblock %}

    </head>
    <div class="navbar">
        <a class="active" href="{{ path('homepage') }}"><i class="fa fa-fw fa-home"></i><br> Climaclass</a>
        <a href="#"><i class="fa fa-fw fa-envelope"></i> Messages</a>
        <a href="{{ path('publication_index') }}"><i class="fa fa-fw fa-envelope"></i> Relevés</a>
        <a href="{{ path('mesure') }}"><i class="fa fa-fw fa-envelope"></i> Mesure</a>
        <a href="#"><i class="fa fa-fw fa-user"></i> Login</a>
    </div>


      {% block body %} {% endblock %}

      {% block javascripts %}{% endblock %}
